@import "index.css";

#preferences-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    width: 100%;
    margin-inline: 10%;
    gap: 1rem 7rem;
    align-items: start;
}

.preference-category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 1em;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.preference-category .option {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    gap:  0.5em;
}

.preference-separator {
    text-align: center;
    grid-column: 1 / -1;
    border-bottom: 2px dashed var(--color-border);
    margin: 1rem 0;
    font-size: 1.2rem;
}

#bg-col-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}